<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="['/home']" class="navbar-brand">Task Tracker</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <!-- TODO (matt): implement these as child routes, maybe? -->
            <a [routerLink]="['/projects']" routerLinkActive="active" class="nav-item nav-link"
                >Projects</a
            >
            <a [routerLink]="['/messages']" routerLinkActive="active" class="nav-item nav-link"
                >Messages</a
            >
            <a [routerLink]="['/calendar']" routerLinkActive="active" class="nav-item nav-link"
                >Calendar</a
            >
            <a [routerLink]="['/users']" routerLinkActive="active" class="nav-item nav-link"
                >Users</a
            >
            <div ngbDropdown class="nav-item">
                <a
                    ngbDropdownToggle
                    class="nav-link"
                    id="dropdownBasic1"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Manage Account
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a [routerLink]="['/profile']" class="dropdown-item">View Profile</a>
                    <a [routerLink]="['/']" class="dropdown-item">Log out</a>
                </div>
            </div>
        </div>
    </div>
</nav>
